<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.mods.tofly" >

    <uses-sdk
        android:maxSdkVersion="22"
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:logo="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".main"
            android:configChanges="orientation|keyboardHidden"
            android:icon="@mipmap/ic_launcher"
            android:logo="@mipmap/ic_launcher"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".simulators"
            android:configChanges="orientation|keyboardHidden"
            android:logo="@mipmap/ic_launcher"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/title_activity_simulators"
            android:parentActivityName=".main"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.mods.tofly.main" />
        </activity>
        <activity
            android:name=".PlaneComponents"
            android:configChanges="orientation|keyboardHidden"
            android:icon="@mipmap/ic_launcher"
            android:logo="@mipmap/ic_launcher"
            android:label="@string/title_activity_plane_components"
            android:parentActivityName=".main"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.mods.tofly.main" />
        </activity>
        <activity
            android:name=".PlaneBody"
            android:configChanges="orientation|keyboardHidden"
            android:icon="@mipmap/ic_launcher"
            android:logo="@mipmap/ic_launcher"
            android:label="@string/title_activity_plane_body"
            android:parentActivityName=".PlaneComponents"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.mods.tofly.PlaneComponents" />
        </activity>
        <activity
            android:name=".MaterialsUsed"
            android:configChanges="orientation|keyboardHidden"
            android:icon="@mipmap/ic_launcher"
            android:logo="@mipmap/ic_launcher"
            android:label="@string/title_activity_materials_used"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.mods.tofly.PlaneComponents" />
        </activity>
        <activity
            android:name=".ControlTower"
            android:configChanges="orientation|keyboardHidden"
            android:icon="@mipmap/ic_launcher"
            android:logo="@mipmap/ic_launcher"
            android:label="@string/title_activity_control_tower"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.mods.tofly.PlaneComponents" />
        </activity>
        <activity
            android:name=".FunFacts"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_fun_facts"
            android:logo="@mipmap/ic_launcher"
            android:parentActivityName=".main"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.mods.tofly.main" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
